.bg-img {
  background-image: url('/assets/img/accueil-img.jpeg');
  height: 400px;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}
